*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
www/graphs/*

.DS_Store
._.
._.DS_Store
._.TemporaryItems
._.apdisk
.apdisk
.idea/
heatpump.iml
www/history.html
www/history.htmle
